@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';

#kegs_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 80px), 1fr));
  grid-gap: 40px 0;
  width: 90%;
  max-width: 1500px;
  position: absolute;
  top: 20px;
  left: 10vw;
}

.keg {
  position: relative;
  width: 20vw;
  max-width: 170px;
}

.keg_number {
  background-color: $bright-purple-bg;
  font-family: $text-font;
  color: white;
  width: 25px;
  border-radius: 100%;
  padding: 0px 7px;
  position: absolute;
  top: 5px;
  left: 40%;
}

.beer_label {
  width: 50%;
  position: absolute;
  top: 30px;
  left: 25%;
}

.keg_tap {
  width: 15%;
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 3000;
}

.storage {
  text-align: center;
  background-color: #2c383e;
  width: 35px;
  border-radius: 20%;
  font-size: 2rem;
  position: absolute;
  left: 33%;
  font-family: "DS-Digital";
  color: #29f1d7;
}

.svg_container {
  width: 100%;
}

.blinking_red {
  animation: blinking_red 1s infinite ease;
}

@keyframes blinking_red {
  from {
    fill: red;
  }
  to {
    fill: auto;
  }
}

.blinking_red_color {
  animation: blinking_red_color 1s infinite ease;
}

@keyframes blinking_red_color {
  from {
    color: red;
  }
  to {
    color: auto;
  }
}

.beer_trans {
  transition: all 1s;
}

/*** media queries ***/

@media only screen and (min-width: 350px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 100px), 1fr));
    left: 7vw;
    grid-gap: 40px 0;
  }
}

@media only screen and (min-width: 450px) {
  #kegs_container {
    grid-gap: 70px 0;
  }
}

@media only screen and (min-width: 550px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 120px), 1fr));
    grid-gap: 80px 0;
    top: 30px;
  }
  .beer_label {
    top: 40px;
    width: 60%;
    left: 20%;
  }
}

@media only screen and (min-width: 650px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
  }
}

@media only screen and (orientation: landscape) and (min-width: 400px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 120px), 1fr));
    grid-gap: 50px 0;
    top: 15px;
  }

  .keg {
    width: 80px;
  }

  .beer_label {
    width: 50%;
    top: 30px;
    left: 25%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 900px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 150px), 1fr));
    top: 20px;
  }

  .keg {
    width: 120px;
  }

  .beer_label {
    top: 40px;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1100px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    top: 50px;
    grid-gap: 80px 0;
  }

  .keg {
    width: 130px;
  }

  .beer_label {
    width: 60%;
    left: 20%;
  }
}

@media only screen and (orientation: landscape) and (min-width: 1500px) {
  #kegs_container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    top: 70px;
    grid-gap: 150px 0;
  }

  .keg {
    width: 20vw;
  }
}
