@use './components/scss/partials/vars' as *;
@use './components/scss/partials/fonts';
@use './components/scss/partials/kegs';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
h1 {
  font-family: $headings-font;
}
h2 {
  font-family: $headings-font;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2vw;
}
h3 {
  font-family: $digital-number-font;
  color: $number-color;
  font-size: 7vw;
}
h4 {
  font-family: $headings-font;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2vw;
}
p {
  font-family: $headings-font;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2vw;
}
.gray {
  filter: grayscale(100%);
}
.dashboard {
  overflow: hidden;
  height: 100vh;
}

// .bartender-status {
//   position: relative;
// }

.dannie-img,
.jonas-img,
.peter-img {
  transition: all 1s;
}
/*----------Background for dashboard for landscape---------------*/
@media all and (orientation: landscape) {
  .dashboard_background {
    background: url(static/svg/kegs_background.svg) center no-repeat;
    // background-position: contain;
    background-size: 100%;
    width: 100vw;
    margin: 0 auto;
    position: relative;
    top: 0;
  }

  #status_background {
    background: url(static/svg/status_bg.svg) no-repeat;
    background-size: 100%;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  .dashboard {
    width: 100%;
    height: 100vh;
    background-color: $bright-purple-bg;
  }
  /*------order screen for landscape-------*/
  .orders-no {
    position: absolute;
    // top: 80%;
    bottom: 10px;
    left: 25%;
    width: 15vw;
    height: 10vw;
    background-color: $dark-boxes;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
  }
  .bartender-status {
    position: absolute;
    // top: 80%;
    bottom: 10px;
    left: 65%;
    width: 28%;
    height: 10vw;
    background-color: $dark-boxes;
    border-radius: 15px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
    background-size: contain;
  }

  .dannie-img {
    position: fixed;
    left: 68%;
    bottom: 15px;
  }

  .jonas-img {
    position: fixed;
    left: 76%;
    bottom: 15px;
  }

  .peter-img {
    position: fixed;
    left: 84%;
    bottom: 15px;
  }

  .bartender-status img {
    width: 3.8vw;
  }
  .bartender {
    margin-left: 2vw;
  }
}
/*----------Background for dashboard for portrait---------------*/
@media all and (orientation: portrait) {
  .dashboard_background {
    width: 100vw;
    background: url(static/svg/kegs_vert_bg.svg) center no-repeat scroll;
    background-size: 100%;
    position: absolute;
    top: 0;
  }

  .dashboard {
    width: 100vw;
    height: 100vh;
    background-color: $bright-purple-bg;
  }

  .orders-no {
    position: absolute;
    // top: 85%;
    left: 5%;
    bottom: 10px;
    width: 30vw;
    height: 20vw;
    background-color: $dark-boxes;
    border-radius: 8px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
  }
  .bartender-status {
    position: absolute;
    // top: 85%;
    left: 45%;
    bottom: 10px;
    width: 50%;
    height: 20vw;
    background-color: $dark-boxes;
    border-radius: 8px;
    box-shadow: 10px 10px 0px 0px rgba(26, 38, 44, 1);
    text-align: center;
    background-size: contain;
  }

  .dannie-img {
    position: fixed;
    left: 50%;
    bottom: 15px;
  }

  .jonas-img {
    position: fixed;
    left: 65%;
    bottom: 15px;
  }

  .peter-img {
    position: fixed;
    left: 80%;
    bottom: 15px;
  }
  .bartender img {
    width: 6vw;
  }
  .bartender {
    margin-left: 2vw;
  }
  /*-----------font size for portrait-----------*/
  h2 {
    margin-top: 1vh;
    font-size: 4vw;
  }
  h3 {
    font-size: 12vw;
  }
  h4 {
    font-family: $headings-font;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2.6vw;
  }
  p {
    font-family: $headings-font;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 3vw;
  }
}
@media only screen and (min-width: 700px) {
  .orders-no {
    width: 15vw;
    height: 9vw;
    left: 20%;
  }
}
